@import "../../scss/variables";

.badge {
  display: flex;
  align-items: center;
  background-color: $primary-light;
  color: $primary;
  cursor: pointer;
  border-radius: $border-radius;
  overflow: hidden;
  min-height: 30px;
  font-weight: $heading-700;
  transition: background-color 0.3s;
  &:not(.badge-dark, .badge-clearable):hover {
    background-color: $primary;
    color: $primary-light;
  }
  &-green {
    background-color: $primary;
    color: $primary-light;
  }
  &-dark {
    background-color: $primary-very-dark;
    color: $primary-light;
  }
  &-rounded {
    border-radius: $border-radius-rounded;
  }

  span {
    padding: 0px 14px;
  }
  &-remove {
    background-color: $primary;
    color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    align-self: stretch;
    transition: background-color 0.3s;
    &:hover {
      background-color: $primary-very-dark;
    }
  }
  &-clearable {
    cursor: default;
  }
}
