// Colors

// Primary

$primary: hsl(180, 29%, 50%);

//Neutral

$primary-light-bg: hsl(180, 52%, 96%); //background
$primary-light: hsl(180, 31%, 95%); // Filter Tablets
$primary-dark: hsl(180, 8%, 52%);
$primary-very-dark: hsl(180, 14%, 20%);
$white: #fff;

// Typography

// Body Copy

$text: 15px;

// Headings
$heading-500: 500;
$heading-700: 700;

$border-radius: 8px;
